body {
  overflow-x: hidden;
}

.AllCover {
  min-height: 100vh;
}

.SideMenu {
  margin-top: 50%;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.MenuItem {
  color: #000;
  text-decoration: none;
}

.SideBar {
  background-color: red;
  /* border: 1px solid red; */
}

